/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
}

/* small mobile :320px. */
@media (max-width: 767px) {
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

@media only screen and (max-width: 475px) {
  .menu ul li ul.submenu {
    position: unset;
    opacity: unset;
    visibility: unset;
    display: none;
  }
  footer ul.menu {
    flex-direction: column;
    padding: 30px 0;
    padding-bottom: unset;
  }
  .hero-section {
    padding: 20px 0px;
    min-height: unset;
    display: flex;
    float: unset;
  }
  .hero-content-container {
    width: 100%;
    max-width: 100%;
  }
  .hero-content-subtitle {
    font-size: 20px;
  }
  .hero-content-container p {
    line-height: unset;
  }
  .blog {
    width: 100%;
    margin-left: unset;
  }
  .testimonial {
    padding: 20px 15px;
    height: auto;
  }
  .testimonial p {
    font-size: 14px;
    text-align: justify;
  }
  .section-title {
    text-align: center;
    font-size: 30px;
  }
  footer .menu li {
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 5px;
  }
  .footer-second-menu {
    padding: 30px 0;
    flex-direction: column;
  }
  .footer-second-menu ul {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .websys-primary-btn {
    margin: 10px auto;
  }
  .footer-second-menu ul li {
    border-bottom: 1px solid #c5c5c5;
  }
  .new-footer-soical-menu {
    justify-content: center;
  }
  footer {
    padding: 0;
  }
  .hero-content {
    min-height: unset;
  }
  .about-websys-title {
    font-size: 18px;
  }
  .about-websys-dsc p {
    font-size: 17px;
  }
  .about-websys,
  .service-section,
  .get-in-touch,
  .blog-section {
    padding: 50px 0;
  }
  .hero-content-title {
    margin: 0 0 15px;
    font-size: 30px;
  }
  .form-wrap {
    padding: 3px 12px 3px;
  }
  .menu-area {
    justify-content: flex-start;
  }
  .logo {
    width: 70%;
  }
  .menu {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .menu svg {
    display: block;
    height: 27px;
    width: 27px;
  }
  .menu-area .menu nav {
    position: absolute;
    top: -26px;
    right: -16px;
    background-color: #490c2b;
    width: 0;
    padding: 20px 0px;
  }
  .menu-area .menu nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu-area .menu nav ul li {
    margin: 0;
  }
  .menu-area .menu nav ul li a {
    color: white;
    padding: 25px 10px;
    margin: 0;
  }
  .mobile_sidebar_close {
    display: block;
    width: 100%;
  }
  .mobile_sidebar_close i {
    color: white;
    margin-left: 20px;
  }
  .testimonial-name {
    font-size: 18px;
    margin-bottom: 40px;
  }
  /* service page */
  .services-banner-icon img {
    width: 350px;
  }
  .services-banner-title h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .services-banner-description p {
    font-size: 17px;
    line-height: 30px;
  }
  .services-banner-bottom-laft h1 {
    font-size: 20px;
    font-weight: 500;
  }
  .services-banner-bottom-laft p {
    color: rgb(65, 72, 77);
    font-size: 17px;
    line-height: 30px;
  }
  .services-banner-bottom-content-two {
    flex-direction: column;
  }
  .services-banner-bottom-content-two .des-one,
  .services-banner-bottom-content-two .des-two {
    width: 100%;
  }
  .services-banner-bottom-content-two p {
    font-size: 17px;
    text-align: justify;
  }
  #services-tagline p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 30px;
  }
  .form-details-content {
    flex-direction: column;
  }
  .form-details-left,
  .form-details-right {
    width: 100%;
  }
  .dslc-text-module-content h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  .dslc-text-module-content h3 {
    font-size: 17px;
  }
  .dslc-module-heading h2 {
    font-size: 26px;
  }
  .dslc-testimonial-quote {
    font-size: 17px;
  }
  /* about page */
  .about-banner {
    flex-direction: column;
  }
  .about-banner-left,
  .about-banner-right {
    width: 100%;
  }
  .about-banner-left h1 {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 25px;
  }
  .about-banner-left h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  }
  .about-details-content h1 {
    font-size: 19px;
    line-height: 30px;
  }
  .about-detail-description {
    flex-direction: column;
  }
  .about-detail-des h1 {
    font-size: 25px;
  }
  .about-detail-des p {
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
  }
  .about-detail-info-box ul {
    flex-wrap: wrap;
  }
  .event-top ul {
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }
  .event-top ul li {
    flex-basis: 45%;
    font-size: 20px;
  }
  .event-top ul li i {
    width: 100%;
    margin-bottom: 10px;
  }
  .event-top ul li span {
    font-size: 15px;
  }
  .event-bottom {
    padding: 50px 0px;
  }
  .event-bottom h4 {
    font-size: 16px;
  }
  /* blog page */
  .blog-banner {
    flex-direction: column;
  }
  .blog-banner-left,
  .blog-banner-right {
    width: 100%;
  }
  .blog-banner-left h1 {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  .blog-banner-left h3 {
    font-size: 20px;
  }
  .blog-banner-left h4 {
    font-size: 22px;
  }
  .service-detail-info-box ul {
    flex-wrap: wrap;
  }
  .service-detail-info-box ul li {
    flex-basis: 45%;
  }
  .digital-marketing-service-boxs ul {
    flex-wrap: wrap;
  }
  .digital-marketing-service-boxs ul li {
    flex-basis: 45%;
  }
  .digital-marketing-service-content h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .digital-marketing-service-boxs ul li h4 {
    font-size: 15px;
    width: 100%;
    line-height: 25px;
  }
  .marketing-learn-more-content {
    flex-wrap: wrap;
  }
  .marketing-learn-more-left,
  .marketing-learn-more-right {
    width: 100%;
  }
  .marketing-learn-more-right .dslc-button {
    margin-top: 30px;
  }
  .marketing-learn-more-right h3 {
    font-size: 15px;
  }
  .marketing-learn-more-right h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .marketing-learn-more-right span {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .dslc-button a span {
    font-size: 16px;
  }
  .seo-titles h4 {
    font-size: 18px;
  }
  .seo-titles h2 {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .seo-titles p {
    font-size: 18px;
  }
  .seo-box-description p {
    font-size: 15px;
    line-height: 23px;
  }
  .dslc-button {
    margin-top: 0;
  }
}
